.full-width {
  width: 100%;
}

.row-3col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

.row-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;

  mat-form-field {
    width: 100%;
  }
}

mat-dialog-content {
  min-width: 560px;
  max-height: 80vh;
}
