@use 'variables' as vars;

.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 1280px;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  overflow-x: auto;
  background: vars.$surface-100;
}
